@font-face {
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
         url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
         url('../fonts/SFProDisplay-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
         url('../fonts/SFProDisplay-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Mont-Regular.woff2') format('woff2'),
         url('../fonts/Mont-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Mont-SemiBold.woff2') format('woff2'),
         url('../fonts/Mont-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Mont-Bold.woff2') format('woff2'),
         url('../fonts/Mont-Bold.woff') format('woff');
    font-display: swap;
}